<!-- Footer -->
<div id="footer-wrapper">
    <section id="footer" class="container">
            <!-- Copyright -->
            <div id="copyright">
                <ul class="links">
                    <li>&copy; <script type="text/javascript">
                        var today = new Date()
                        var year = today.getFullYear()
                        document.write(year)
                        </script>. All rights reserved.</li>
                </ul>
            </div>
    </section>
</div>
</body>
</html>